{% extends "base_generic.html" %}

{% block content %}
<h1>Name: {{ author.first_name }} {{ author.last_name }}</h1>

<p><strong>Day of birthday:</strong>{{ author.date_of_birth }}</p>
<p><strong>Day of die:</strong> {{ author.date_of_die }}</p>

{% if user.is_staff %}
<a href="{% url 'author_delete' author.id %}">Delete</a> <a href="{% url 'author_update' author.id %}">Update</a>
{% endif %}

<div style="margin-left:20px;margin-top:20px">
  <h4>Books</h4>

  {% for book in author.book_set.all %}
  <hr>
  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>({{ book.bookinstance_set.count }})
  <p>{{ book.summary }}</p>
  {% endfor %}
</div>
{% endblock %}